.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.ticker-container {
  width: 70%;
}

.ticker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  font-size: 22px;
  cursor: pointer;
}

.ticker img {
  width: 20px;
  height: 20px;
}

.name-container {
  width: 25%;
  display: flex;
}

.short-name{
  display: flex;
  justify-content: center;
  width: 15%;
  color: white;
  background: rgb(37, 37, 37);
  border-radius: 4px;
}

.full-name{
  width: 15%;
}

.price { 
  font-family: system-ui;
}

.change, .change-percent {
  display: flex;
  justify-content: center;
  width: 13%;
  border-radius: 8px;
}

.change-positive {
  background: rgb(194, 250, 109);
}

.change-negative {
  background: rgb(241, 105, 105);
}

.prices-chart {
  margin-bottom: 16px;
}

.interval-buttons{
  display: flex;
  justify-content: center;
}

.interval-buttons button {
  margin-right: 20px;
  cursor: pointer;
  border: 0;
  background-color: gray;
  border-radius: 8px;
  font-size: 22px;
}

.active-interval {
  background-color: #1a73e8 !important;
}

.hidden-tickers-container{
  display: flex;
  margin-top: 20px;
}

.hidden-ticker {
  display: flex;
  justify-content: center;
  color: white;
  background: rgb(37, 37, 37);
  border-radius: 4px;
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
}

@media screen and (max-width: 1000px){

  .ticker-container{
    width: 80%;
  }
}

@media screen and (max-width: 600px){

  .ticker-container{
    width: 100%;
  }

  .ticker, .interval-buttons button {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px){

  .ticker-container{
    width: 100%;
  }

  .ticker, .interval-buttons button {
    font-size: 12px;
  }

}
